#section2 {
    padding-top: 300px;
}

#map {
    background-color: rgba(0, 0, 0, 0.5);

}

#contact-title {
    margin-top: 40px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-size: 40px;
}
